<div class="span6">
	<div id="question-top">	
		<h2> Q. <%= @question.title %></h2>
    	<%= @question.desc %>
    	<div class="asker">Asked By <%= @question.user.name %></div>
    </div>	
    <hr />
    <h3>Answers</h3>
    <% if @question.answers.any? %>
      <ol class="answers">
        <%= render @question.answers %>
      </ol> 
    <% else%>
        <p>Nobody has answered yet!</p>
    <% end%>
    <h4> Add Your Answer</h4>
    <% if signed_in? %>

    	<p>You're Signed in as <%= @current_user.name%></p>
         <%= render 'shared/answer_form' %>
    <% else %>    
        <p> You need to sign in to reply</p>
    <% end %>	
    

</div>