<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "pages", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  
  <script type="text/javascript">
    $(function () {
    $("a.youtube").YouTubePopup({ autoplay: 0 });
});    
    $.fn.YouTubePopup.defaults = {
    'youtubeId': '',
    'title': '',
    'idAttribute': 'rel',
    'draggable': false,
    'modal': true,
    'width': 840,
    'height': 600,
    'hideTitleBar': true,
    'clickOutsideClose': true,
    'overlayOpacity': 0.5,
    'autohide': 2,
    'autoplay': 1,
    'color': 'red',
    'color1': 'FFFFFF',
    'color2': 'FFFFFF',
    'controls': 1,
    'fullscreen': 1,
    'loop': 0,
    'hd': 1,
    'showinfo': 0,
    'theme': 'light'
};

  </script>
  
</head>
<body>
  <%= render 'layouts/header' %>
    <div class="container" id="primary-stuffs">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      
    </div>
    <%= debug(params) if Rails.env.development? %>
</body>
</html>
